<ion-header>
  <ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list *ngIf="showList">
      <ion-item  *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
  </ion-navbar>
</ion-header>

<ion-content>
  <p #pleaseConnect>no connection</p>
  <div #map id="map"></div>
  <ion-fab top right>
    <button ion-fab mini><ion-icon name="more"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab  (click)="loadListModal()"><ion-icon name="list"></ion-icon></button>
      <button ion-fab (click) ="loadFilterModal()"><ion-icon name="options"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
