ct-feedback{
  ion-content{
    padding-top: 0px;
  }
  .ct-bug{
    width: 100%;
    font-size: small;
    color: #0c60ee;
    background-color: #d7e5fd;
    padding: 2%;
    margin-top: 0px;

  }

  .ct-cantrespond{
    font-size: x-small;
    font-style: italic;
    color: #515151;
  }
}
