page-pin-pin {
  textarea {
    resize: both;
  }
  .ct-btn-right{
    width: 100%;
    text-align: right;
  }

  .ct-image-select{
    position: relative;
    padding: 0;
    height: 14rem;
  }

  .ct-btn-image{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
  }
}
