page-check-in{
  .ct-p-center{
    width: 100%;
    text-align: center;
  }
  ion-content{
    background-image: url('../assets/images/gradient-background.jpg') ;
    background-size: cover;
  }
  .checkIn-points-text{
    font-size: larger;
  }



}
