page-foodtruck {

  .foodtruck-profile-image {
    width: 100%;
    height: 15%;
    display: inline-block;
    margin: 0;
  }
  .foodtruck-profile-name {
    display: inline-block;
    font-size: large;
    width: 100%;
  }

  ion-scroll{
    width: 100%;
    height: 100px;
    white-space: nowrap;

    .foodtruck-scroll-card{
        width: 10vw;
        display: inline-block;
        height: 40px;
    }
  }
  .foodtruck-profile-address {
    display: inline-block;
    color: #cccccc;
    font-size: large;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    width: 100%;
  }

  .foodtruck-profile-distance {
    width: 100%;
    display: inline-block;
    color: #cccccc;
    font-size: small;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
  }

  .foodtruck-profile-btn {
    text-align: center;
    width: 33.333333333%;
    float: left;
    border-radius: 0;
    padding: 0.6em 0 0.6em 0;
    background-color: #ff9999;
    margin: 5% 0 0 0;

    .card-text{
      font-family: 'Alegreya Sans', sans-serif;
      color: #cccccc;
      font-size: larger;
    }

  }
}
